[submodule "tcomment"]
	path = tcomment
	url = https://github.com/tomtom/tcomment_vim.git
[submodule "rvm"]
	path = rvm
	url = https://github.com/csexton/rvm.vim.git
[submodule "abolish"]
	path = abolish
	url = https://github.com/tpope/vim-abolish.git
[submodule "extradite"]
	path = extradite
	url = https://github.com/int3/vim-extradite.git
[submodule "bundler"]
	path = bundler
	url = https://github.com/tpope/vim-bundler.git
[submodule "netrw"]
	path = netrw
	url = https://github.com/vim-scripts/netrw.vim.git
[submodule "railscasts"]
	path = railscasts
	url = https://github.com/jpo/vim-railscasts-theme.git
[submodule "rails"]
	path = rails
	url = https://github.com/tpope/vim-rails.git
[submodule "rails31nav"]
	path = rails31nav
	url = https://github.com/danchoi/rails31nav.vim.git
[submodule "rails31nav.vim"]
	path = rails31nav.vim
	url = https://github.com/danchoi/rails31nav.vim.git
[submodule "vim-jquery-doc"]
	path = vim-jquery-doc
	url = https://github.com/lucapette/vim-jquery-doc.git
[submodule "vim-powerline"]
	path = vim-powerline
	url = https://github.com/Lokaltog/vim-powerline.git
[submodule "emmet-vim"]
	path = emmet-vim
	url = https://github.com/mattn/emmet-vim.git
[submodule "vim-misc"]
	path = vim-misc
	url = https://github.com/xolox/vim-misc.git
[submodule "vim-session"]
	path = vim-session
	url = https://github.com/xolox/vim-session.git
[submodule "vim-multiple-cursors"]
	path = vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors.git
